<div class="row-fluid">
    <table class=" table table-condensed" id="accordion2" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Checkin ID</th>
                <th>Dev</th>
                <th>Queue</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Submit Date</th>

            </tr>
        </thead>

        <tr>
            <td><input data-bind="value: jobIdFilter, valueUpdate:'afterkeydown'" type="search"></td>
            <td><input data-bind="value: checkinIdFilter, valueUpdate:'afterkeydown'" type="search"></td>
            <td><input data-bind="value: devFilter, valueUpdate:'afterkeydown'" type="search"></td>
            <td><select data-bind="options: queueFilters, value: queueFilter"></select></td>
            <td><select data-bind="options: statusFilters, value: statusFilter"></select></td>
            <td><select data-bind="options: priorityFilters, value: priorityFilter"></select></td>
        </tr>
        <tbody data-bind="foreach: filteredItems">

            <tr data-toggle="collapse" data-bind=" attr: { 'data-target': '#tray'+$index()}" class="accordion-toggle">
                <td data-bind="text: Jobid "></td>
                <td data-bind="text: Checkid "></td>
                <td data-bind="text: Dev"></td>
                <td data-bind="text: Queue"></td>
                <td data-bind="text: Status"></td>
                <td data-bind="text: Priority"></td>
                <td data-bind="text: Submitdate"></td>
            </tr>
            <tr>
                <td class="hiddenRow" style="border:none;">
                    <div class="accordian-body collapse" data-bind="attr: { id: 'tray'+$index()}">
                        Extra Info
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>

