<div class="row-fluid">
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <style>
        table {
            table-layout: fixed;
        }
        .first:hover {
            background-color: whitesmoke;
        }
        p {
            display: inline;
        }
    </style>
    <table class=" table table-condensed" id="accordion2" style="border-collapse:collapse;">
        <p data-bind="text: 'Top Failures: '+firstFailure+', '+secondFailure+', '+thirdFailure"></p>
        <thead>
            <tr>
                <th style="width: 7%;">Checkin ID</th>
                <th style="width: 7%;">Job ID</th>
                <th style="width: 7%;">Dev</th>
                <th style="width: 12%;">Queue</th>
                <th style="width: 20%;">Status</th>               
                <th style="width: 7%;">Priority</th>
                <th style="width: 14%;">Submit Date</th>
                <th style="width: 7%;">Attempts</th>
                <th style="width: 26%">Bug ID</th>
            </tr>
        </thead>

        <tr>
            <td><input style="width: 87%;" data-bind="value: checkinIdFilter, valueUpdate:'afterkeydown'" type="search"></td>
            <td><input style="width: 87%;" data-bind="value: jobIdFilter, valueUpdate:'afterkeydown'" type="search"></td>
            <td><input style="width: 87%;" data-bind="value: devFilter, valueUpdate:'afterkeydown'" type="search"></td>
            <td><select style="width: 100%;" data-bind="options: queueFilters, value: queueFilter"></select></td>
            <td><select style="width: 100%;" data-bind="options: statusFilters, value: statusFilter"></select></td>
            <td><select style="width: 100%;" data-bind="options: priorityFilters, value: priorityFilter"></select></td>
            <td id='target'> <input style="width: 87%;" data-bind='datepicker: test_date' type="search"></td>
            <td><td>
            <td></td>
        </tr>
        <tbody data-bind="foreach: filteredItems">
            <tr data-toggle="collapse" data-bind=" attr: { 'data-target': '#tray'+$index()}" class="first accordion-toggle">

                <td style="width: 7%;">
                    <div data-bind="if: Queue == 'SCCM_Office' || Queue == 'SccmMain' || Queue == 'SccmTest' || Queue == 'SCCM-WEH2-CVP' ">
                        <a data-bind="attr: { 'href': 'file://mermaid.redmond.corp.microsoft.com/snaplogs/'+Checkid+'.'+Dev}"><p data-bind="text: Checkid "></p></a>
                    </div>
                    <div data-bind="if: Queue != 'SCCM_Office' && Queue != 'SccmMain' && Queue != 'SccmTest' && Queue != 'SCCM-WEH2-CVP' ">
                        <a data-bind="attr: { 'href': 'file://st.redmond.corp.microsoft.com/teams/INTUNE/snap/logs/'+Checkid+'.'+Dev}"><p data-bind="text: Checkid "></p></a>
                    </div>
                </td>                
                <td style="width: 7%;" data-bind="text: Jobid"></td>
                <td style="width: 7%;" data-bind="text: Dev"></td>
                <td style="width: 12%;" data-bind="text: Queue"></td>
                <td style="width: 20%;" data-bind="css: { completed: Status[0] == 'Completed', aborted: Status[0] == 'Aborted', inprogress: Status[0] == 'In Progress', pending: Status[0] == 'Pending' }, text: StatusString"></td>               
                <td style="width: 7%;" data-bind="text: Priority"></td>
                <td style="width: 14%;" data-bind="text: SubmitdateString"></td>
                <td style="width: 7%;" data-bind="css: { completed: IsCompleted == true }, text: Attempts"></td>
                <td style="width: 26%">
                    <div data-bind="foreach: PreBugId">
                        <a data-bind="attr: { 'href': 'http://bugcheck/bugs/ManagementServices/'+$data, 'target':'_blank'}"><p data-bind="text: $data"></p></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="hiddenRow" style="border: none; width: 100%; ">                    
                    <div class="accordian-body collapse" data-bind="attr: { id: 'tray'+$index()}">
                        <br>
                        <p data-bind="text: Description "></p>
                        <div data-bind="if: Status == 'Completed'">
                            <br><p>Duration to complete: </p>
                            <p data-bind="text: Duration"></p>
                            <p> minutes</p><br>
                        </div>
                        <div data-bind="if: RunBVTfailure">
                            <br>
                            <p> View Log Tracer Files </p>
                            <a data-bind="attr: { 'href': 'file://st.redmond.corp.microsoft.com/teams/INTUNE/snap/logs/'+Checkid+'.'+Dev+'/Job.'+Jobid+'/Logs/Run_1/test/pilot/TestPassLogs', 'target':'_blank'}"> Run_1</a>
                            <br>
                        </div>
                        <br>
                    </div>
                </td>
            </tr>

        </t
            
            
            
            
            >
    </table>

</div>

