<div class="row-fluid">


    <table class=" table table-condensed" id="accordion2" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th><a href=" #myjobs" data-bind="click: sortByJobid">Job ID </a></th>
                <th><a href="#myjobs" data-bind="click: sortByCheckid">Checkin ID</a></th>
                <th><a href="#myjobs" data-bind="click: sortByDev">Dev</a></th>
                <th><a href="#myjobs" data-bind="click: sortByQueue">Queue</a></th>
                <th><a href="#myjobs" data-bind="click: sortByStatus">Status</a></th>
                <th><a href="#myjobs" data-bind="click: sortByPriority">Priority</a></th>
                <th><a href="#myjobs" data-bind="click: sortBySubmitdate">Submit Date</a></th>

            </tr>
        </thead>
        <tbody data-bind="foreach: myJobs">

            <tr data-toggle="collapse" data-bind="attr: { 'data-target': '#tray'+$index()}" class="accordion-toggle">
                <style>
                    p {
                        display: inline;
                    }
                </style>
                <td><p data-bind="text: Jobid "></p><a data-bind="attr: { 'href': 'file://st.redmond.corp.microsoft.com/teams/INTUNE/snap/logs/'+Checkid+'.'+Dev+'/Job.'+Jobid}"> Logs</a></td>
                <td data-bind="text: Checkid "></td>
                <td data-bind="text: Dev"></td>
                <td data-bind="text: Queue"></td>
                <td data-bind="text: StatusString"></td>
                <td data-bind="text: Priority"></td>
                <td data-bind="text: SubmitdateString"></td>

            </tr>

            <tr>
                <td class="hiddenRow" style="border:none;">
                    <div class="accordian-body collapse" data-bind="attr: { id: 'tray'+$index()}">

                        
                        <div data-bind="if: RunBVTfailure">
                            <p> View Log Tracer Files </p>
                            <a data-bind="attr: { 'href': 'file://st.redmond.corp.microsoft.com/teams/INTUNE/snap/logs/'+Checkid+'.'+Dev+'/Job.'+Jobid+'/Logs/Run_1/test/pilot/TestPassLogs', 'target':'_blank'}"> Run_1</a>
                        </div>
                        <br>

                    </div>

                </td>
            </tr>
        </tbody>
    </table>

</div>

