<div>
    Please select which queues you would like to view:
    <br>
    <button data-bind="click: updatePref">Update Preferences</button>
    <form>
        <div> <input type="checkbox" data-bind="checked: CAS" />CAS</div>
        <div> <input type="checkbox" data-bind="checked: CMPreCacheWorkflow" />CMPreCacheWorkflow</div>
        <div> <input type="checkbox" data-bind="checked: CMPreCacheWorkflow_test" />CMPreCacheWorkflow_test</div>
        <div> <input type="checkbox" data-bind="checked: InfraSandbox01" />InfraSandbox01</div>
        <div> <input type="checkbox" data-bind="checked: InfraSandbox02" />InfraSandbox02</div>
        <div> <input type="checkbox" data-bind="checked: intune_ctip1" />intune_ctip1</div>
        <div> <input type="checkbox" data-bind="checked: intune_ctip1_test" />intune_ctip1_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_dev_infra" />intune_dev_infra</div>
        <div> <input type="checkbox" data-bind="checked: intune_dev_office" />intune_dev_office</div>
        <div> <input type="checkbox" data-bind="checked: intune_dev_office_test" />intune_dev_office_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_dev_test" />intune_dev_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_dev_wcs" />intune_dev_wcs</div>
        <div> <input type="checkbox" data-bind="checked: intune_dev_wcs_test" />intune_dev_wcs_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_rel" />intune_rel</div>
        <div> <input type="checkbox" data-bind="checked: intune_rel_prod" />intune_rel_prod</div>
        <div> <input type="checkbox" data-bind="checked: intune_rel_prod_live" />intune_rel_prod_live</div>
        <div> <input type="checkbox" data-bind="checked: intune_rel_prod_live_test" />intune_rel_prod_live_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_rel_prod_test" />intune_rel_prod_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_rel_test" />intune_rel_test</div>
        <div> <input type="checkbox" data-bind="checked: intune_tools_vnext" />intune_tools_vnext</div>
        <div> <input type="checkbox" data-bind="checked: IntuneTools" />IntuneTools</div>
        <div> <input type="checkbox" data-bind="checked: JupiterSnapILDC1" />JupiterSnapILDC1</div>
        <div> <input type="checkbox" data-bind="checked: JupiterSnapMobileTest" />JupiterSnapMobileTest</div>
        <div> <input type="checkbox" data-bind="checked: JupiterSnapMobileTest2" />JupiterSnapMobileTest2</div>
        <div> <input type="checkbox" data-bind="checked: JupiterSnapVM3" />JupiterSnapVM3</div>
        <div> <input type="checkbox" data-bind="checked: JupiterSnapVM5" />JupiterSnapVM5</div>
        <div> <input type="checkbox" data-bind="checked: JupiterSnapVM7" />JupiterSnapVM7</div>
        <div> <input type="checkbox" data-bind="checked: Sandbox3" />Sandbox3</div>
        <div> <input type="checkbox" data-bind="checked: Sandbox4" />Sandbox4</div>
        <div> <input type="checkbox" data-bind="checked: Sandbox5" />Sandbox5</div>
        <div> <input type="checkbox" data-bind="checked: SCCM_Office" />SCCM_Office</div>
        <div> <input type="checkbox" data-bind="checked: SccmMain" />SccmMain</div>
        <div> <input type="checkbox" data-bind="checked: SccmTest" />SccmTest</div>
        <div> <input type="checkbox" data-bind="checked: SCCM-WEH2-CVP" />SCCM-WEH2-CVP</div>
    </form>
</div>
