<div class="row fluid">
    <style>
        table
        {
        table-layout:fixed;
        }
        span.inline {
            float:left;
            width:900px;
        }
    </style>
    <div class='liveExample'>
    </div>
    <script src="http://code.highcharts.com/highcharts.src.js">

    </script>
    <div style="width: 1000px;" id="chart"></div>

    <span class="inline" data-bind="foreach: queueArray()">
        <span class="inline" style="width: 500px;" data-bind=" attr: { 'id': 'chart'+$index()}"></span>
        <br>
    </span>


     
        <br>
        <br>
        <br>
        <br>
    </div>
