<div class="row fluid">
    <style>
        table
        {
        table-layout:fixed;
        }
    </style>

    <table class=" table table-condensed">
        <thead>
            <tr>
                <th style="width:300px">All Queues</th>
                <th style="width:200px">Num Checkins</th>
                <th style="width:200px">Completed</th>
                <th style="width:200px">Aborted</th>
                <th style="width:200px">In Progress</th>
                <th style="width:200px">Pending</th>
                <th style="width:200px">Cancelled</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>Week</td>
                <td data-bind="text: allQueueData().numCheckins"></td>
                <td data-bind="text: allQueueData().Completed"></td>
                <td data-bind="text: allQueueData().Aborted"></td>
                <td data-bind="text: allQueueData()['In Progress']"></td>
                <td data-bind="text: allQueueData().Pending"></td>
                <td data-bind="text: allQueueData().Cancelled"></td>
            </tr>
            <tr>
                <td>24 Hours</td>
                <td data-bind="text: allQueueDataDay().numCheckins"></td>
                <td data-bind="text: allQueueDataDay().Completed"></td>
                <td data-bind="text: allQueueDataDay().Aborted"></td>
                <td data-bind="text: allQueueDataDay()['In Progress']"></td>
                <td data-bind="text: allQueueDataDay().Pending"></td>
                <td data-bind="text: allQueueDataDay().Cancelled"></td>
            </tr>
        </tbody>
        
    </table>
    <div data-bind="foreach: queueArray()">
        <table class=" table table-condensed">
            <thead>
                <tr>
                    <th style="width:300px" data-bind="text: name"></th>
                    <th style="width:200px">Num Checkins</th>
                    <th style="width:200px">Completed</th>
                    <th style="width:200px">Aborted</th>
                    <th style="width:200px">In Progress</th>
                    <th style="width:200px">Pending</th>
                    <th style="width:200px">Cancelled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Week</td>
                    <td data-bind="text: numCheckins"></td>
                    <td data-bind="text: Completed"></td>
                    <td data-bind="text: Aborted"></td>
                    <td data-bind="text: $data['In Progress']"></td>
                    <td data-bind="text: Pending"></td>
                    <td data-bind="text: Cancelled"></td>
                </tr>
                <tr>
                    <td>24 Hours</td>
                    <td data-bind="text: numCheckinsDay"></td>
                    <td data-bind="text: CompletedDay"></td>
                    <td data-bind="text: AbortedDay"></td>
                    <td data-bind="text: $data['In ProgressDay']"></td>
                    <td data-bind="text: PendingDay"></td>
                    <td data-bind="text: CancelledDay"></td>
                </tr>
            </tbody>

        </table>
    </div>

<br>
<br>
<br>
<br>
</div>
